@model object
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Glimpse Demo</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid">
        <div class="sidebar">
            @Html.ActionLink("MVC", "Index")
            <br />
            @Html.ActionLink("MVC - Other View", "Other")
        </div>
        <div class="content">
            <h2>
                Glimpse MVC Demo</h2>
        </div>
    </div>
</body>
</html>
