@model object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Glimpse Demo</title>
    </head>
    <body>
        <div>
              Glimpse Demo
        </div>
    </body>
</html>